.containerQuiz {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 9rem;

  @media (min-width: 481px) and (max-width: 767px) {
    padding: 0 4rem;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    padding: 0 4rem;
  }
}

.mainQuestion {
  font-family: "Marcellus";
  color: #ff7571;
  font-size: 4rem;
  text-align: center;
  z-index: 9;

  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 2rem;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 2rem;
  }
}

.mainQuestionCategorySubtitle {
  font-family: "Raleway";
  font-size: 1.2rem;
  color: #616161;
  margin-top: 0;
  z-index: 9;
}

.newMainQuestionButton {
  border: none;
  font-family: "Raleway";
  font-size: 1.2rem;
  margin-top: 1rem;
  background: #ccb59e;
  color: #fff;
  border-radius: 0.2rem;
  padding: 0.3rem 2rem;
  cursor: pointer;
  text-decoration: none;
  z-index: 9;
}

.mainQuestionCategory {
  font-family: "Raleway";
  font-size: 2rem;
  color: #ccb59e;
  z-index: 9;
}

.containerQuizBottleBackground {
  position: absolute;
  left: -90px;

  @media (min-width: 481px) and (max-width: 767px) {
    display: none;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    display: none;
  }
}

.containerQuizHeartBackground {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.6;

  svg {
    width: 100%;
    max-width: 700px;
    height: 100%;
    fill: #c3bbb2;
  }
}
