.header {
  grid-area: header;
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.logo {
  font-family: "Vidaloka";
  font-size: 3rem;
  cursor: pointer;
  color: #c25450;
  text-decoration: none;

  &:hover {
    text-decoration: line-through;
  }
}

nav {
  flex: 0.5;
  display: flex;
  justify-content: center;

  a {
    color: #393632;
    font-family: "Raleway";
    text-decoration: none;

    &:hover {
      text-decoration: line-through;
    }
  }
}

.containerButtonMobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburgerBtn {
  font-size: 1.3rem;
  width: 40px;
  height: 35px;
  outline: none;
  background-color: transparent;
  color: #C25450;
  border: none;
}

.addTransiton {
  transform: translateX(170px);
  transition: transform 0.5s ease-in-out;
  width: 0;
}
.removeTransition {
  transform: translateX(20px);
  transition: transform 0.5s ease-in-out;
  width: auto;
}

#sidebarList {
  background-color: rgb(134, 125, 125);
  height: 90vh;
  width: 170px;
  position: absolute;
  z-index: 2000;
  right: 0;
  top: 0;
  margin-top: 70px;
}
.navBig {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 70%;
  font-weight: bold;
}

.navBigLink {
  cursor: pointer;
  color: white;
  text-decoration: none !important;
}

.navSmall {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin: auto;
  height: 100%;
  width: 100%;
}
.navSmallLink {
  cursor: pointer;
  color: #C25450;
  padding-bottom: 5px;
}

.navRight {
  justify-content: flex-end;
}
